#container {
    padding-top: 50px;
}

#list-title {
    font-size: 22px;
    font-weight: bolder;
    padding-left: 30px;
}

.flex-col {
    padding: 20px 60px 0 60px;
}

th {
    font-size: medium;
    font-weight: bold;
    color: black !important;
}

td {
    color: black !important
}