<div class="container mx-auto px-4 py-6 card-details" id="container">
  
  <div class="card-details__head"></div>
    <h2 class="text-lg font-bold text-gray-800 dark:text-black card-details__head__title">
    Detalles del elemento: <span class="text-purple-600">{{ id }}</span>
  </h2>
  @defer {
  <div class="mt-6 details">
    <div class="bg-white p-4 rounded-lg shadow-md details-content">
      <h4 class="text-md font-semibold text-gray-700">Estado</h4>
      <p class="text-gray-600">Estado: {{ detailsData.estado }}</p>
      <p class="text-gray-600">
        Fecha Solicitud: {{ detailsData.fecha_solicitud }}
      </p>
      <p class="text-gray-600">
        Última Actualización: {{ detailsData.fecha_ultima_actualizacion }}
      </p>

      <h4 class="mt-4 text-md font-semibold text-gray-700">Metadatos</h4>
      <p class="text-gray-600">
        Fecha Adquisición: {{ detailsData.metadatos.fecha_adquisicion }}
      </p>
      <p class="text-gray-600">
        Modalidad: {{ detailsData.metadatos.modalidad }}
      </p>
      <p class="text-gray-600">Región: {{ detailsData.metadatos.region }}</p>
      <p class="text-gray-600">
        Resolución: {{ detailsData.metadatos.resolucion }}
      </p>

      <h4 class="mt-4 text-md font-semibold text-gray-700">
        Referencia Entrada
      </h4>
      <p class="text-gray-600">
        Llave Objeto: {{ detailsData.referencia_entrada.llave_objeto }}
      </p>
      <p class="text-gray-600">
        Bucket: {{ detailsData.referencia_entrada.nombre_bucket }}
      </p>
      <p class="text-gray-600">
        Proveedor: {{ detailsData.referencia_entrada.proveedor_almacenamiento }}
      </p>
    </div>
  </div>

  } @placeholder {
  <p>... Cargando detalles</p>
  } @loading (minimum 200ms) {
  <p>... Cargando detalles</p>
  }
  <div class="flex justify-end mt-6">
    <a
      routerLink="/menu/list"
      class="inline-block text-blue-600 dark:text-blue-500 hover:underline"
    >
      ← Volver a la lista
    </a>
  </div>
</div>
